*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
app.log
application.pid
gc.log.0.current
/build/
.classpath
.classpath
.gradle
.settings
gradlew.bat
factorypath
.factorypath
.springBeans
.gc.log
.project
