<configuration scan="true" scanperiod="5 seconds">
     <include resource="org/springframework/boot/logging/logback/base.xml" />
     <jmxConfigurator/>
      <property name="LOG_HOME" value="logs"/>
    <property scope="context" name="pattern_stdout"
        value="%.-5level %date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [appId] %logger{70}:%line - %msg%n" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <encoder>
            <pattern>%.-5level %date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [appId]
                %logger{70}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>${pattern_stdout}</pattern>
            <pattern></pattern>
        </encoder>
    </appender>

 <appender name="applicationFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/application.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
</appender>

    <logger name="pl.java.scalatech" level="info" additivity="false">
        <appender-ref ref="FILE" />
        <!--     <appender-ref ref="tcpJSON" /> -->
        <appender-ref ref="console" />
    </logger>
       
    <logger name="org.springframework" level="info" />
    <logger name="org.springframework.data" level="info" />
    <root level="INFO">    
       <appender-ref ref="console" />
        <appender-ref ref="applicationFile"/>
       <!-- <appender-ref ref="tcpJSON" /> -->
    </root>
</configuration>
